.general{
   display: flex;
   gap: 70px;
    padding: 20px;
    max-width: 700px;
    width: 100%;

}
.hero{
    position: absolute;
    left: 0;
  top: 0;
  z-index: 1; 
  background-color:  rgb(255, 255, 255);
  display: flex;
border: 1px solid gray;
  width: 100%;
}
.general-navbar{
    display: flex;
    max-width: 1320px;
    width: 100%;
    gap: 50px;
    margin: auto;
}
.pulse{
    max-width: 300px;
    width: 100%;
    background-color: red;
}
.reservations{
    max-width: 300px;
    width: 100%;
}